.TodoListItem {
  padding: 10px 0;
  border-bottom: 1px solid #999;

  &:after {
    content: '';
    display: block;
    clear: both;
  }

  .checkbox {
    float: left;
    width: 450px;

    &:after {
      content: '';
      display: block;
      clear: both;
    }

    &.checked {
      .text {
        text-decoration: line-through;
      }
    }

    svg {
      float: left;
    }

    .text {
      float: left;
    }
  }

  .remove {
    float: left;
    width: 50px;
  }
}
